@media print {
  @page {
    size: landscape;
  }
  @page {
    margin: 1.27cm 1.27cm 1.27cm 1.27cm !important;
  }
  html,
  body {
    height: 100%;
    margin: 1rem !important;
    padding: 0 !important;
  }
  table {
    table-layout: fixed;
  }
  th,
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .divider {
    break-after: always;
  }
  table tr th:nth-child(1) {
    width: 60px;
  }
  table tr th:nth-child(10) {
    width: 70px;
  }
}
